.idea
*.aux
*.bbl
*.out
*.synctex.gz
*.blg
*.log
*.fls
*.ilg
*.ind
*.fdb_latexmk
*.toc
*.xml
*.bcf
*.idx
*.pdf
__pycache__/
Notebooks/old_notebooks_(ignore)/01_data_exploration.ipynb
Notebooks/old_notebooks_(ignore)/06_sklearn_baselines.ipynb
Latex/Vorlage.tex
Latex/Vorlage.bbl-SAVE-ERROR
